<div class="container">
  <h2>My todos</h2>
  <!-- Todos input -->
  <form role="form" name="todoForm"ng-submit="addTodo()" novalidate>
    <div class="row">
      <div class="input-group">
        Date: <input type="date" name="date" ng-model="todo.date" style="margin:5px;" required />
          <span ng-messages="todoForm.date.$touched && todoForm.date.$error" style="color:red;" role="alert">
            <span ng-message="required">Please assign a date</span>
          </span>
        <br />
        Time: <input type="time" name="time" ng-model="todo.time" style="margin:5px;" required />
        <span ng-messages="todoForm.time.$touched && todoForm.time.$error" style="color:red;" role="alert">
          <span ng-message="required">Please assign a time</span>
        </span>
        <br />
        Name: <input type="text" name="name" ng-model="todo.name" placeholder="Who's going to do it?" size="30" ng-minlength="2" ng-maxlength="30" style="margin:5px;" required />
        <span ng-messages="todoForm.name.$touched && todoForm.name.$error" style="color:red;" role="alert">
          <span ng-message="required">Please assign a name</span>
          <span ng-message-exp="['minlength', 'maxlength']">Name must be between 2 and 30 characters long</span>
        </span>
        <br />
        Item: <input type="text" name="item" ng-model="todo.item" size="30" ng-minlength="5" ng-maxlength="30" style="margin:5px;" placeholder="What needs to be done?" required />
        <span ng-messages="todoForm.item.$touched && todoForm.item.$error" style="color:red;" role="alert">
          <span ng-message="required">Please add an item</span>
          <span ng-message-exp="['minlength', 'maxlength']">Item must be between 5 and 30 characters long</span>
        </span>
        <br />
        <input type="submit" class="btn btn-primary" value="Add" style="margin:5px;" ng-disabled="todoForm.$invalid">
      </div>
    </div>
  </form>

  <hr>

  <!-- Todos list -->
  <div ui-sortable ng-model="todos">
    <table border="1" width="100%">
      <tr>
        <th style="padding:3px;">Date</th>
        <th style="padding:3px;">Time</th>
        <th style="padding:3px;">Name</th>
        <th style="padding:3px;">Item</th>
      </tr>
      <tr ng-repeat="todo in todos">
        <td style="padding:3px;">{{todo.date | date:'MM/dd/yyyy'}}</td>
        <td style="padding:3px;">{{todo.time | date:'hh:mm a'}}
        <td style="padding:3px;">{{todo.name}}</td>
        <td style="padding:3px;">{{todo.item}} <button class="btn btn-danger btn-sm" ng-click="removeTodo($index)" aria-label="Remove" style="float:right;"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td>
      </tr>
    </table>
  </div>
</div>
